@model ExpenseReport.UI.Web.ViewModel.ProjetoCadastroViewModel
@{
    ViewBag.Title = "Cadastro de Projeto";
    Layout = "~/Views/Shared/_Principal.cshtml";
}
@using (Html.BeginForm("Cadastro", "Projeto", FormMethod.Post, new { @id = "form" }))
{
    <div class="row clearfix">
        <div class="col-md-12">
            @if (Model.Retorno != null && Model.Retorno.RetornouErro)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Erro!</strong> @Model.Retorno.MensagemErro
                </div>
            }

            @if (Model.Retorno.RetornouSucesso)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Sucesso!</strong> @Model.Retorno.MensagemSucesso
                </div>
            }

            <div class="card">
                <div class="header">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-2">
                            <label>Id</label>
                            <input type="text" class="form-control" readonly="readonly" autocomplete="off" value="@Model.ProjetoID" name="ProjetoID" id="ProjetoID"/>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <label>Descricao <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" autocomplete="off" value="@Model.Descricao" maxlength="100" id="Descricao" name="Descricao"/>                            
                            <span class="label_erro" id="validaDescricao">&nbsp;</span>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <label>Programa <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" autocomplete="off" value="@Model.Programa" maxlength="100" id="Programa" name="Programa"/>                            
                           
                            <span class="label_erro" id="validaPrograma">&nbsp;</span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label>Centro de Custo <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" autocomplete="off" value="@Model.CentroDeCusto" maxlength="100" id="CentroDeCusto" name="CentroDeCusto" />                                   
                            <span class="label_erro" id="validaCentroDeCusto">&nbsp;</span>
                        </div>

                        <div class="col-md-2 col-sm-2">
                            <label for="basic_checkbox_2">Status <span class="text-danger">*</span></label>
                            <select class="form-control" name="Status" id="Status">
                                <option value="A">Aberto</option>
                                <option value="F">Fechado</option>
                            </select>
                            <span class="label_erro" id="validaStatus">&nbsp;</span>
                        </div>

                        <div class="col-md-12 col-sm-12 text-right">
                            @if (Model.Retorno.RetornouSucesso == false)
                            {
                                <button type="button" class="btn btn-default" id="btnSalvar">Salvar</button>
                                <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" id="btnCancelar">Retornar</button>
                            }




                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

@section Scripts {
    <script src="~/Scripts/views/Constantes.js"></script>
    <script src="~/Scripts/views/ProjetoCadastro.js"></script>
}