@model ExpenseReport.UI.Web.ViewModel.ProjetoCadastroViewModel
@{
    ViewBag.Title = "Cadastro de Projeto";
    Layout = "~/Views/Shared/_Principal.cshtml";
}
@using (Html.BeginForm("Cadastro", "Colaborador", FormMethod.Post, new { @id = "form_validation" }))
{
    <div class="row clearfix">
        <div class="col-md-12">

            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Erro!</strong> Mensagem de Erro.
            </div>

            <div class="card">
                <div class="header">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-2">
                            <label>Id</label>
                            @Html.TextBoxFor(m => m.Projeto.ProjetoID, null, new { @class = "form-control", @readonly = "readonly" })
                            @*<input type="text" class="form-control" value="1" readonly />*@
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <label>Descricao</label>
                            @Html.TextBoxFor(m => m.Projeto.Descricao, null, new { @class = "form-control", @maxlength = "100" })
                            @*<input type="text" class="form-control" maxlength="100" value="" name="Descricao" />*@
                            <span class="label_erro" id="validaDescricao">Campo obrigatório</span>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <label>Programa</label>
                            @Html.TextBoxFor(m => m.Projeto.Programa, null, new { @class = "form-control", @maxlength = "100" })
                            @*<input type="text" class="form-control" maxlength="100" value="" name="Programa" />*@
                            <span class="label_erro" id="validaprograma">Campo obrigatório</span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label>Centro de Custo</label>
                            @Html.TextBoxFor(m => m.Projeto.CentroDeCusto, null, new { @class = "form-control", @maxlength = "100" })
                            @*<input type="text" class="form-control" maxlength="30" value="" name="CentroDeCusto" />*@
                            <span class="label_erro" id="validaCentroDeCusto">Campo obrigatório</span>
                        </div>

                        <div class="col-md-2 col-sm-2 checkbox_form">
                            <input type="checkbox" id="Projeto_Status" class="filled-in chk-col-red" checked name="Projeto.Status"/>
                            <label for="basic_checkbox_2">Status</label>
                        </div>

                        <div class="col-md-12 col-sm-12 text-right">
                            <button type="button" class="btn btn-default" id="btnSalvar">Salvar</button>
                            <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

<script src="~/Scripts/views/ColaboradorCadastro.js"></script>