@model ExpenseReport.UI.Web.ViewModel.ProjetoListViewModel
@{
    ViewBag.Title = "Projeto Listagem";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

@using (Html.BeginForm("Index", "Projeto", null, FormMethod.Post, new { @id="formProjeto" } ))
{
    <input type="hidden" name="Acao" id="Acao" value="" />
    <input type="hidden" name="ProjetoIDExcluir" id="ProjetoIDExcluir" value="" />


<div class="row clearfix">
    <div class="col-md-12">
        @if (Model.Retorno.RetornouErro)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Erro!</strong> @Model.Retorno.MensagemErro
            </div>
        }

        @if (Model.Retorno.RetornouSucesso)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Sucesso!</strong> @Model.Retorno.MensagemSucesso
            </div>
        }

        <div class="card">
            <div class="header">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="body bg-info">
                <div class="row clearfix barra_busca">
                    <div class="col-md-6">
                        <input class="form-control" name="Filtro" type="text" placeholder="Nome do Projeto" value="@Model.Filtro"/>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="submit" title="Localizar" id="btnLocalizar">
                            <span class="glyphicon glyphicon-search"></span> Localizar
                        </button>
                        <a href="/Projeto/Cadastro" class="btn btn-primary" type="button" title="Adicionar">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                        </a>
                    </div>
                </div>
            </div>


            <div class="body">
                <hr />
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="table-responsive">

                            @if (Model.Listagem == null || Model.Listagem.Count() == 0)
                            {
                                <div class="text-center">
                                    <label>Nenhum registro encontrado para a consulta.</label>
                                </div>
                            }
                            else
                            {
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th width="70px">#</th>
                                            <th>Programa</th>
                                            <th>Descricao</th>
                                            <th>Centro de Custo</th>
                                            <th width="70px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ExpenseReport.UI.Web.ServicoPrincipal.Projeto projeto in Model.Listagem)
                                        {
                                            <tr>
                                                <td>@projeto.ProjetoID</td>
                                                <td>@projeto.Programa</td>
                                                <td>@projeto.Descricao</td>
                                                <td>@projeto.CentroDeCusto</td>
                                                <td>
                                                    <button type="button" class="btn btn-xs bg-black btnEditar" title="Editar" data-id="@projeto.ProjetoID">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-danger btnExcluir" title="Remover" data-toggle="modal" data-target="#ModalExcluir" data-id="@projeto.ProjetoID">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    <script src="~/Scripts/views/ProjetoListagem.js"></script>
}